---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Acerca de mí";

const identity = {
  firstName: "Salvador",
  country: "España",
  occupation: "Software developer",
  hobbies: ["photography", "birdwatching", "baseball"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2>... ¡y mi nuevo sitio Astro!</h2>

  <p>
    Estoy trabajando en el tutorial introductorio de Astro. ¡Esta es la segunda
    página de mi sitio web y es la primera que construí yo mismo!
  </p>

  <p>Aquí hay algunos datos sobre mí:</p>
  <ul>
    <li>Me llamo {identity.firstName}.</li>
    <li>
      Vivo en {identity.country} y mi profesión es {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Dos de mis hobbies son: {identity.hobbies[0]} y {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>Mis habilidades son:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>¡Estoy feliz de estar aprendiendo Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>Mi objetivo es terminar en 3 días.</p>
    ) : (
      <p>Mi objetivo no son 3 días.</p>
    )
  }
</BaseLayout>

<style define:vars={{ skillColor, fontWeight, textCase }}>
  h1 {
    color: purple;
    font-size: 4rem;
  }
  .skill {
    /* color: green; */
    /* usando variable css */
    color: var(--skillColor);
    font-weight: var(--fontWeight);
    text-transform: var(--textCase);
  }
</style>
